[Unit]
Description=Flask server for Builder
After=syslog.target

[Service]
ExecStart=/usr/bin/uwsgi --ini /home/builder/builder/builder.ini

[Install]
WantedBy=multi-user.target
