.ui[class*="right floated"].label {
  float: right;
  margin-right: 0em;
  margin-left: 0.25em;
}

.ui[class*="left floated"].labeled {
    float: left;
    margin-left: 0em;
    margin-right: 0.25em;
    line-height: 26px;
    vertical-align: middle;
}

.ui.clickable.segment {
    cursor: pointer;
}

.ui.clickable.segment:hover {
    background: rgba(0, 0, 0, 0.05);
}
